div#content {
	font: 12pt Arial, Helvetica, sans-serif;
	width: 38em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div#content a {
	color: white;
}

div#content a:hover {
	color: silver;
}

.issuedate {
	font-size: 12pt;
	font-weight: normal;
	margin-left: 0.5em;
}
