.t0 { color: black; }
.t1 { color: red; }
.t2 { color: lime; }
.t3 { color: yellow; }
.t4 { color: blue; }
.t5 { color: fuchsia; }
.t6 { color: aqua; }

.b1 { background-color: red; }
.b2 { background-color: lime; }
.b3 { background-color: yellow; }
.b4 { background-color: blue; }
.b5 { background-color: fuchsia; }
.b6 { background-color: aqua; }
.b7 { background-color: white; }

.flashoff { color: black; }
.flashoff.b1 { color: red; }
.flashoff.b2 { color: lime; }
.flashoff.b3 { color: yellow; }
.flashoff.b4 { color: blue; }
.flashoff.b5 { color: fuchsia; }
.flashoff.b6 { color: aqua; }
.flashoff.b7 { color: white; }
