span.uline {
	text-decoration: underline;
}

span.wide {
	/* Gives a rough effect until css3 font-strech or something similar is
	   widely implemented */
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 0.75ex;
	line-height: 1em;
}

span.super {
	/* Use font size and positioning instead of proper superscript, as this
	   pushes the spacing of the rest of the line apart, and causes font size
	   issues in IE.  Letter spacing is used until font-stretch or similar is
	   widely implemented */
	font-size: 0.8em;
	position: relative;
	z-index: -1;
	bottom: 0.33em;
	letter-spacing: 0.2ex;
}

span.subs {
	/* See comments above for superscript */
	font-size: 0.8em;
	position: relative;
	z-index: -1;
	bottom: -0.25em;
	letter-spacing: 0.2ex;
}

span.inv {
	background-color: white;
	color: black;
	font-weight: bold;
}
