body {
	background-color: black;
	font: 20px "ModeSeven", "Courier", "Monotype";
	color: white;
}

a {
	color: magenta;
	text-decoration: none;
}

table {
	border: 0px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	margin: 0px;
	padding: 0px;
}

.bord {
	background-color: white;
}

.highlight {
	background-color: blue;
}

.highlight .menugt {
	color: blue;
}

.id {
	color: cyan;
}

.title {
	font-size: 45px;
	padding: 0px 10px 0px 10px;
	color: lime;
}

.menutt {
	color: blue;
	text-align: center;
}

.date {
	color: magenta;
	padding-right: 15px; 
	padding-left: 3px;
}

.issue {
	color: magenta;
	text-align: center;
	padding: 0px 50px 0px 50px;
}

.menurow {
	color: lime;
}

.menugt {
	color: black;
}

.helptxt {
	color: blue;
}

.helptxt a {
	color: red;
	text-decoration: none;
}

#descript {
	color: yellow;
}