table {
	border-collapse: collapse;
}

td {
	margin: 0;
	padding: 0;
}

td table {
	width: 100%;
}

td table td {
	height: 0.33em;
}

.bord {
	background-color: %border%;
}

td.topbdr {
	vertical-align: top;
}

td.topbdr div {
	height: 0.67em;
}

td div.gapright {
	margin-right: 0.33em;
}

td div.gapleft {
	margin-left: 0.33em;
}

.id {
	color: %id%;
}

.dateandissue {
	color: %dteiss%;
}

.title {
	background-color: %title%;
}

.menutt {
	color: %menutt%;
	text-align: center;
}

.menuline a {
	display: block;
	color: %items%;
	text-decoration: none;
}

.menuline a:hover, .menulinehl a {
	background-color: %highlight%;
}

.menuline a .letters {
	color: %letters%;
}

.menuline a:focus {
	color: %letters%;
}

.menuline a .gt {
	color: black;
}

.menuline a:hover .gt, .menulinehl a .gt {
	color: %highlight%;
}

.menuline a:focus .gt {
	color: %letters%;
}

.helptxt {
	color: %helptxt%;
}

.helptxt a {
	color: red;
	text-decoration: none;
}

.descript {
	color: %descript%;
}

.fc {
	color: #00ffff;
}

.bb {
	background-color: #0000ff;
}

tr#bottomrow td {
	padding-bottom: 0.33em;
	border-bottom: 0.67em solid %border%;
}