body {
	color: white;
	background-color: black;
	margin: 115px 1em 1em 1em;
	padding: 0;
	text-align: center;
}

.centralcol {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
	font-family: "ModeSeven";
	src: url("../fonts/modeseven.eot");
}

@font-face {
	font-family: "ModeSeven";
	src: url("../fonts/modeseven.ttf");
}

.mode7 {
	font: 24px "ModeSeven", "Courier New", "Courier", monospace;
	letter-spacing: 2px;
	line-height: 1em;
}

.mode0 {
	font: 14px "Courier New", "Courier", monospace;
	width: 48em;
}

div#header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: black;
	border-bottom: 1px solid gray;
}

div#header div#innerhdr {
	margin-left: auto;
	margin-right: auto;
	width: 610px;
	text-align: left;
	height: 95px;
}

div#header div#innerhdr img#logo {
	float: left;
	color: white;
	background-color: blue;
	border: 0;
}

div#header div#innerhdr div#banner {
	width: 468px;
	height: 60px;
	float: right;
}

div#header div#innerhdr div#nav {
	font: 12pt Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 468px;
	float: right;
	margin-top: 11px;
}

div#header div#innerhdr div#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#header div#innerhdr div#nav ul li {
	display: inline;
	margin-right: 2em;
}

div#header div#innerhdr div#nav ul li a {
	color: white;
	text-decoration: none;
}