body img {
	width: 16px;
	height: 24px;
	display: block;
}

table {
	text-align: left;
	border: 0px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	width: 16px;
	line-height: 24px;
}

td table {
	width: 100%;
}

td table td {
	height: 0.33em;
}

.bord {
	background-color: %border%;
}

.id {
	color: %id%;
}

.dateandissue {
	color: %dteiss%;
}

.title {
	background-color: %title%;
}

.menutt {
	color: %menutt%;
	text-align: center;
}

.menuline a {
	display: block;
	color: %items%;
	text-decoration: none;
}

.menuline a:hover, .menulinehl a {
	background-color: %highlight%;
}

.menuline a .letters {
	color: %letters%;
}

.menuline a:focus {
	color: %letters%;
}

.menuline a .gt {
	color: black;
}

.menuline a:hover .gt, .menulinehl a .gt {
	color: %highlight%;
}

.menuline a:focus .gt {
	color: %letters%;
}

.helptxt {
	color: %helptxt%;
}

.helptxt a {
	color: red;
	text-decoration: none;
}

.descript {
	color: %descript%;
}

.fc {
	color: #00ffff;
}

.bb {
	background-color: #0000ff;
}