body {
	color: white;
	background-color: black;
	margin: 2em 1em 1em 1em;
	padding: 0;
	text-align: center;
}

.centralcol {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 560px;
}

.mode7 {
	font: 24px "ModeSeven", "Courier New", "Courier", monospace;
}

div.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	
	text-align: left;
	
	color: black;
	background-color: white;
}