table {
	text-align: left;
	border: 0px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	line-height: 1em;
}

td table {
	width: 100%;
}

td table td {
	height: 0.33em;
}

td img {
	display: block;
	height: 1em;
}