table {
	border-collapse: collapse;
}

td {
	margin: 0px;
	padding: 0px;
}

td.t0 { color: black; }
td.t1 { color: red; }
td.t2 { color: #00ff00; }
td.t3 { color: yellow; }
td.t4 { color: blue; }
td.t5 { color: magenta; }
td.t6 { color: cyan; }

td.b1 { background-color: red; }
td.b2 { background-color: #00ff00; }
td.b3 { background-color: yellow; }
td.b4 { background-color: blue; }
td.b5 { background-color: magenta; }
td.b6 { background-color: cyan; }
td.b7 { background-color: white; }

table.s0 td {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
table.s1 td {
	border-bottom: 1px solid red;
	border-right: 1px solid red;
}
table.s2 td {
	border-bottom: 1px solid #00ff00;
	border-right: 1px solid #00ff00;
}
table.s3 td {
	border-bottom: 1px solid yellow;
	border-right: 1px solid yellow;
}
table.s4 td {
	border-bottom: 1px solid blue;
	border-right: 1px solid blue;
}
table.s5 td {
	border-bottom: 1px solid magenta;
	border-right: 1px solid magenta;
}
table.s6 td {
	border-bottom: 1px solid cyan;
	border-right: 1px solid cyan;
}
table.s7 td {
	border-bottom: 1px solid cyan;
	border-right: 1px solid cyan;
}

td img {
	display: block;
	height: 1em;
}

td table {
	width: 100%;
}

td table td {
	height: 0.333em;
}

td table td.h2 {
	height: 0.666em;
}

td table td.h3 {
	height: 1.0em;
}

td.flashoff {
	color: black;
	background-color: black;
}

td.flashoff td {
	background-color: black;
}

td.flashoff img {
	display: none;
}