---
# Copyright © 2016-2020 Matt Robinson
#
# SPDX-License-Identifier: GPL-3.0-or-later

layout: main
---

<div id="content">
    <h1>{{ page.item.title }}</h1>
</div>

<div class="image">
    {% for item in page.item.content %}
        {% if forloop.index > 1 %}<hr>{% endif %}
        {{ item | bbc_pic_to_img: page.item.typestr, page.item.modes[forloop.index0] }}

        {% if page.item.captions %}
            <div class="caption">{{ page.item.captions[forloop.index0] }}</div>
        {% endif %}
    {% endfor %}
</div>
