---
# This file is part of the 8BS Online Conversion.
# Copyright © 2016-2019 by the authors - see the AUTHORS file for details.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

layout:     main
---

<div id="content">
    <h1>{{ page.item.title | chomp_dot }}</h1>
</div>

<div class="image">
    {% for item in page.item.content %}
        {% if forloop.index > 1 %}<hr>{% endif %}
        {{ item | bbc_pic_to_img: page.item.typestr, page.item.modes[forloop.index0] }}

        {% if page.item.captions %}
            <div class="caption">{{ page.item.captions[forloop.index0] }}</div>
        {% endif %}
    {% endfor %}
</div>
