---
# Copyright © 2015-2022 Matt Robinson
#
# SPDX-License-Identifier: GPL-3.0-or-later

layout: main
---

<div id="emulator" data-image-path="{{ page.item.imagepath }}"

{% if page.item.modelstr %}
    data-model="{{ page.item.modelstr }}"
{% endif %}

    data-action="basic"></div>

<div id="content">
    <h1>{{ page.item.title | xml_escape }}</h1>

    <p>To view an emulation of this BBC Basic program, you need to have
    <span id="need-to-have"><a href="https://enable-javascript.com/">JavaScript enabled</a></span>,
    or you can <a href="list/">view a listing</a> of this program instead.</p>
</div>
