---
# This file is part of the 8BS Online Conversion.
# Copyright © 2015-2019 by the authors - see the AUTHORS file for details.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

layout:     main
includejs:  '/common/script/emulate.js'
---

<div id="emulator" data-image-path="{{ page.item.imagepath }}"

{% if page.item.modelstr %}
    data-model="{{ page.item.modelstr }}"
{% endif %}

    data-action="basic"></div>

<div id="content">
    <h1>{{ page.item.title | xml_escape }}</h1>

    <p>To view an emulation of this BBC Basic program, you need to have
    <span id="need-to-have"><a href="http://enable-javascript.com/">JavaScript enabled</a></span>,
    or you can <a href="list/">view a listing</a> of this program instead.</p>
</div>
