---
layout:     main
includejs:  '/common/script/menu.js'
page:       disc_index
title:      '8-Bit Software Issue '
---

<div id="content">
	<h1>{{ page.title }}</h1>

	<div id="emulate-issue">
		<a href="emulate/">Run in jsbeeb emulator</a>
	</div>

	{% for menu in page.menugroup.menus %}
		<div class="menu" id="menu{{ menu.id }}">
			<h2>{{ menu.title }}</h2>

			<ul>
				{% for entry in menu.entries %}
					<li><a href="{{ entry.linkpath }}">{{ entry.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
