---
layout:     main
stylesheet: '/common/styles/infopage.css'
page:       disc_index
title:      '8-Bit Software Issue '
---

<div id="content">
	<h1>{{ page.title }}</h1>

	<div id="emulate-issue">
		<a href="emulate/">Run in jsbeeb emulator</a>
	</div>

	{% for menu in page.menugroup.menus %}
		<h2 id="menu{{ menu.id }}">{{ menu.title }}</h2>
		
		<ul>
			{% for entry in menu.entries %}
				<li><a href="{{ entry.linkpath }}">{{ entry.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
