---
# Copyright © 2015-2020 Matt Robinson
#
# SPDX-License-Identifier: GPL-3.0-or-later

layout: main
---

<div id="content">
    <h1>{{ page.title }}</h1>

    {% for menu in page.disc.menus %}
        <div class="menu" id="menu{{ menu.id }}">
            <h2>{{ menu.title | chomp_dot }}</h2>

            <ul>
                {% for entry in menu.entries %}
                    <li><a href="{{ entry.linkpath }}">{{ entry.title | xml_escape }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <div class="other-actions">
        <h2>Other actions</h2>
        <ul>
            <li><a href="files/">View list of files</a></li>
            <li><a href="emulate/">Run issue in jsbeeb emulator</a></li>
        </ul>
    </div>
</div>
