---
# Copyright © 2019-2020 Matt Robinson
#
# SPDX-License-Identifier: GPL-3.0-or-later

layout: main
---

<div id="content">
    <h1>{{ page.title }}</h1>

    <div class="file-list">
        {%- for side in page.files -%}
            {% if forloop.length > 1 -%}
                <h2>Side {{ forloop.index }}</h2>
            {%- endif %}

            <ul>
                {%- for file in side -%}
                    <li>
                        <a href="{{ file.path }}"
                            {%- if file.title
                                %} title="{{ file.title | xml_escape }}"
                            {%- endif %}>

                            {{- file.dir }}.{{ file.name | xml_escape -}}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        {%- endfor -%}
    </div>
</div>
