---
layout:     main
stylesheet: '/common/styles/infopage.css'
page:       index
title:      8-Bit Software Magazines Index
---

<div id="content">
	<h1>8BS Issues</h1>
	
	{% for issue in page.issues %}
		<h2>Issue {{issue.number}} <span class="issuedate">{{issue.date | date: '%d/%m/%Y'}}</span></h2>

		{% for disc in issue.discs %}
			{% if issue.discs.size > 1 %}
				<h3>Disc {{ disc.number }}</h3>
			{% endif %}

			<ul>
				<li><a href="{{disc.path}}/">Browse issue contents</a></li>
				<li><a href="{{disc.path}}/emulate/">Run in jsbeeb emulator</a></li>
			</ul>
		{% endfor %}
	{% endfor %}
</div>
