<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{{ page.title }}</title>

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/common/styles/common.css">

		{% if page.stylesheet %}
			<link rel="stylesheet" type="text/css" href="{{ page.stylesheet }}">
		{% endif %}

		{% if page.includejs %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="{{ page.includejs }}"></script>
		{% endif %}
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-3711682-6");
			pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</head>
	
	<body>
		<div id="header">
			<div id="innerhdr">
				<a href="/"><img id="logo" src="/common/images/8bs_logo.png" width="120" height="95" alt="8-Bit Software Converted for the Web"></a>
				<div id="banner">
					<script type="text/javascript">
						google_ad_client = "pub-1841056084632667";
						/* 8BS Online Header Banner */
						google_ad_slot = "6713525724";
						google_ad_width = 468;
						google_ad_height = 60;
					</script>
					<script type="text/javascript"
						src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
				<div id="nav">
					<div id="about">
						{% if page.page == 'about' %}
							<span class="current">About</span>
						{% else %}
							<a href="/about.html" title="About This Conversion">About</a>
						{% endif %}
					</div>
					
					<div id="crumb">
						{% if page.page == 'index' %}
							<span class="current">Index</span>
						{% else %}
							<a href="/" title="8BS Magazines Index">Index</a>
						{% endif %}

						{% if page.disc %}
							{% if page.disc.issue.discs.size > 1 %}
								{% capture discnumtext %} Disc {{page.disc.number}}{% endcapture %}
							{% endif %}

							{% if page.page == 'disc_index' %}
								&gt; <span class="current">8BS{{ page.disc.issue.number }}{{ discnumtext }}</span>
							{% else %}
								&gt; <a href="/{{ page.disc.path }}/">8BS{{ page.disc.issue.number }}{{ discnumtext }}</a>
							{% endif %}

							{% if page.page == 'emulate_disc' %}
								&gt; <span class="current">Emulate</span>
							{% endif %}
						{% endif %}

						{% if page.entry %}
							&gt; <span class="current">{{ page.entry.title }}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
		{{ content }}
	</body>
</html>
