---
# Copyright © 2015-2023 Matt Robinson
#
# SPDX-License-Identifier: GPL-3.0-or-later
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title | xml_escape }}</title>

        <link rel="shortcut icon" type="image/x-icon" href="/common/images/favicon.ico" sizes="16x16 32x32">
        <link rel="icon" type="image/png" href="/common/images/favicon-256.png" sizes="256x256">
        <link rel="stylesheet" href="/common/styles.css">

        {% if page.includejs %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="{{ page.includejs }}"></script>
        {% endif %}

        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <header>
            <div class="inner">
                <h1>8<span class="full">-</span>B<span class="full">it </span>S<span class="full">oftware</span> Online Conversion</h1>
                <nav>
                    <ul>
                        {% if page.layout == 'index' %}
                            <li class="current">Index</li>
                        {% else %}
                            <li><a href="/" title="8BS Magazines Index">Index</a></li>
                        {% endif %}

                        {% for item in page.navchain -%}
                            {% if forloop.last -%}
                                <li class="current">{{ item.navtitle | xml_escape }}</li>
                            {% else -%}
                                <li><a href="{{ item.path }}">{{ item.navtitle | xml_escape }}</a></li>
                            {% endif -%}
                        {% endfor -%}

                        {% if page.name == 'about.html' %}
                            <li class="about current">About</li>
                        {% else %}
                            <li class="about"><a href="/about.html" title="About This Conversion">About</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        {{ content }}
    </body>
</html>
